---

- name: Install additional packages
  apt: name={{ item }} update_cache={{ update_apt_cache }} force=yes state=installed
  with_items:
    - ffmpeg
    - libavcodec-extra-56

- name: Install youtube-dl
  pip: name=youtube-dl